* {
  margin: 0;
  font-family: sans-serif;
}
.header {
  background-color: rgb(211, 210, 210);
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 1px;
  height: 50px;
  width: auto;
}
.nav-bar {
  overflow: hidden;
  display: block;
  width: auto;
  background-color: rgb(48, 44, 44);
  height: 39px;
  margin: 0;
  padding-left: 1px;
  border-right: unset;
}
.nav-bar-content {
  display: inline;
  float: left;
  background-color: rgb(48, 44, 44);
  width: auto;
  height: 30px;
  color: white;
  margin-bottom: 20px;
  border: solid white;
  border-top: unset;
  border-left: unset;
  border-width: 1px;
  padding: 9px 8px 0px 8px;
}
.nav-bar-content:hover {
  background-color: green;
}
.section {
  overflow: hidden;
}
.section1 {
  float: left;
  margin: 30px 0 0 40px;
  width: 911px;
  text-align: justify;
}
.section2 {
  float: right;
  width: 300px;
  height: 495px;
  text-align: justify;
  padding-left: 15px;
  padding-top: 15px;
  margin: 0;
  background-color: rgb(231, 230, 230);
}
h2 {
  color: rgb(19, 65, 124);
  font-size: 35px;
  margin-bottom: 8px;
}
h3 {
  color: rgb(19, 65, 124);
}
footer {
  background-color: rgb(231, 230, 230);
  margin: 0;
  padding: 10px 20px 30px 0px;
  text-align: right;
  width: auto;
  height: 5px;
}
