* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  background-color: rgb(211, 210, 210);
  padding: 10px 0 10px 20px;
  margin-left: 1px;
  width: auto;
}
.nav-bar {
  overflow: hidden;
  display: block;
  width: auto;
  background-color: rgb(48, 44, 44);
  margin: 0;
  padding: 0;
}
.nav-bar-content {
  display: inline;
  float: left;
  background-color: rgb(48, 44, 44);
  width: auto;
  color: white; 
  border: solid white;
  border-top: unset;
  border-bottom: unset;
  border-width: 1px;
  padding: 9px 8px 10px 8px;
}
.nav-bar-content:hover {
  background-color: green;
}
.section {
  display: block;
  overflow: hidden;
  background-color: rgb(231, 230, 230) ;
}
.section1 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 65%;
  background-color: white;
}
.section2 {
  float: right;
  width:25%;
  padding: 0% 2%;
}
h1,h3{
  color: rgb(19, 65, 124);
  margin-bottom: 8px;
  margin-top: 30px;
}
footer {
  background-color: rgb(231, 230, 230);
  padding: 15px 20px 13px 20px;
  text-align: right;
}
